body{
    background-color: #EAEBF1;
    /* display: flex;
    gap: 21px; */
  }
  
  #chart{
    margin: 25px auto;
    width: 1000px;
    position: relative;
  }
  .svg2{
    margin-top: 54px;
  }
  
  #tooltip {
    border: 1px solid #ccc;
    position: absolute;
    padding: 10px;
    background-color: #fff;
    display: none;
    pointer-events: none;
  }
  
  .price {
    font-weight: bold;
  }
  
  #main-div1{
    /* margin: 25px auto;
    width: 600px;
    position: relative; */
    font-family: "Inter", sans-serif;
    max-width: 600px;
    width: 100%;
    padding: 61px 0px;
    border: 2px solid #fff;
    border-radius: 30px;
    background-color: #fff;
  }
  .main-text-price{
    width: 100%;
    display: flex;
  justify-content: space-between;
    align-items: center;
    font-size: 28px;
    line-height: 33px;
    font-weight: 500;
    /* border-bottom:1px solid #AFAFAF; */
  }
  p{
    opacity: 50%;
  }
  .Overall-Performance{
    font-weight: 600;
    font-size: 34px;
    line-height: 41px;
   
    text-align: center;
  }
  .best-Today{
    padding: 0px 45px;
  
  }
  
  #tooltip2 {
    border: 1px solid #ccc;
    position: absolute;
    padding: 10px;
    background-color: #fff;
    display: none;
    pointer-events: none;
    gap: 11px;
    border-radius: 12px;
    font-family: "Inter", sans-serif;
    font-size: 26px;
    font-weight: 500;
    max-width: 325px;
    width: 100%;
  }
  
  .price2 {
    font-weight: bold;
    color: #314CFF;
  }