body {
  background-color: #eaebf1;
}
#all-barcharts{
  display: flex;
  gap: 40px;
  max-width: 3950px;
  width: 100%;
  flex-wrap: wrap;
  margin: 0 auto;
  justify-content: center;
}
#main-div1 {
  padding: 40px;
  border: 2px solid #fff;
  border-radius: 30px;
  background-color: #fff;
}
#main-div2 {
  padding-top: 74px;
  padding-bottom: 38px;
  border: 2px solid fff;
  border-radius: 30px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#main-div3 {
  padding-top: 74px;
  padding-bottom: 38px;
  border: 2px solid fff;
  border-radius: 30px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 31px;
  padding-right: 55px;
}
#main-div4 {
  padding-top: 74px;
  padding-bottom: 38px;
  border: 2px solid fff;
  border-radius: 30px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#main-div5 {
  padding-top: 74px;
  padding-right: 60px;
  padding-left: 39px;
  border: 2px solid fff;
  border-radius: 30px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 47px;
}
#bar-chart2 {
  margin-top: 127px;
}
#bar-chart3 {
  margin-top: 87px;
}
#bar-chart4 {
  margin-top: 69px;
}
#bar-chart5 {
  margin-top: 140px;
}
.div2 {
  margin-top: 10px;
  font-family: "Inter", sans-serif;
  font-size: 26px;
  font-weight: 500;
  line-height: 31px;
}
.detail-btn {
  max-width: 432px;
  width: 100%;
  margin-top: 32px;
  background-color: #d5e5ff;
  padding: 31px 169px;
  font-size: 28px;
  font-family: "Inter", sans-serif;
  font-weight: 600;
  color: #3a4de9;
  line-height: 33.8px;
  border-radius: 10px;
  border: #d5e5ff;
  cursor: pointer;
}
.date-heading {
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 28px;
}
.date-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.date-section2 {
  font-family: "Inter", sans-serif;
  font-weight: 600;
  line-height: 41px;
  font-size: 34px;
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
.date-section4 {
  font-family: "Inter", sans-serif;
  font-weight: 600;
  line-height: 41px;
  font-size: 34px;
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
.date {
  font-family: "Inter", sans-serif;
  font-size: 28px;
  font-weight: 400;
  line-height: 33.89px;
  text-align: left;
  opacity: 0.5;
}
.main-text-price {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* border-bottom:1px solid #AFAFAF; */
  border-bottom: inset;
}
.main-text-price2 {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
p {
  opacity: 50%;
}

.monthhourmin {
  font-family: "Inter", sans-serif;
  font-size: 60px;
  font-weight: 600;
  line-height: 33.89px;
  text-align: left;
  display: flex;
  align-items: center;
  justify-content: center;
}

#tooltip5 {
  position: absolute;
  pointer-events: none;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 12px;
  padding: 8px;
  max-width: 258px;
  width: 100%;
  font-family: "Inter", sans-serif;
  font-size: 22px;
  font-weight: 600;
}
